@import '../styles/vars';


@mixin globalTitle {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #002040;
    margin: 0px auto 60px auto;
}

@mixin container {
    max-width: $max-width;
    margin: 0 auto;
}

@mixin mainButton {
    padding: 30px 60px;
    background: linear-gradient(180deg, #409FFF 0%, #007FFF 100%);
    box-shadow: 0px 10px 10px rgba(0, 32, 64, 0.1), inset 0px 2px 0px rgba(255, 255, 255, 0.25), inset 0px -2px 0px rgba(0, 32, 64, 0.1);
    border-radius: 79px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: ponter;
}

@mixin comment {
    margin: 0px 20px;
    max-width: 620px;
    background: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
    color: #002040;
    height: 260px;
    .info {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        .about {
            display: flex;
            flex-direction: column;
            .name {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
            }
            span:nth-child(2) {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;                    
            }
        }
    }
    .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
}