@import '../../styles/vars';
@import '../../styles/mixins';


.header {
    backdrop-filter: blur(2.5px);
    .container {
        @include container;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        .list {
            display: flex;
            gap: 60px;
            .menuItem {
                line-height: 20px;
                color: #002040;
                cursor: pointer;
            }
        }
    }

    .contacts {
        display: flex;
        .text {
            display: flex;
            flex-direction: column;
            color: #002040;
            margin: auto 0;
            .number {
                font-weight: $bold;
                font-size: 18px;
                line-height: 22px;
                margin-left: auto;
            }
            .graph {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px
            }
        }
        .phoneImage {
            margin-top: 18px;
        }
    }
}