@import '../../styles/mixins.scss';


.building {
    padding-bottom: 160px;
    &__container {
        @include container
    }
    &__title {
        @include globalTitle;
    }
    &__slider {
        margin-left: 15px;
    }
}
.card {
    position: relative;
    &__text {
        display: flex;
        gap: 10px;
        align-items: center;
        position: absolute;
        top: 350px;
        left: 20px;
    }
    &__numbOfPhotos {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 10px 10px rgba(0, 32, 64, 0.1);
        backdrop-filter: blur(2.5px);
        border-radius: 30px;        
    }
    &__number {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        width: 24px;
        height: 20px;
    }
    &__someText {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }
}
.nextArrow {
    position: absolute;
    top: 175px;
    right: 40px;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 10px 10px rgba(0, 32, 64, 0.1);
    backdrop-filter: blur(2.5px);
}
.prevArrow {
    z-index: 10;
    position: absolute;
    top: 175px;
    left: 20px;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 10px 10px rgba(0, 32, 64, 0.1);
    backdrop-filter: blur(2.5px);
}