@import '../../styles/mixins';

.benefits {
    padding: 160px 0px;
    &__container {
        @include container;
    }
    &__title {
        @include globalTitle;
    }
    &__benefits {
        display: grid;
        grid-template-columns: repeat(3, 400px);
        gap: 40px 40px;
    }
    &__imageDiv {
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.4s;
        position: relative;
    }
    &__imageDiv:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.innerContent__text {
    position: absolute;
    width: 320px;
    top: 210px;
    left: 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFF;
}
.innerContent__image {
    position: absolute;
    top: 120px;
    left: 160px;
}